@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* PRIMARY */
  /* BACKGROUND COLOR */
  --background-color1: #3b4664;
  /* BACKGROUND COLOR EQUAL, SWITCH BUTTON */
  --background-color2: #d43e29;
  /* BACKGROUND COLOR NUMBER */
  --background-color3: #181f32;
  /* COLOR TEXT RESET,NUMBER,SWITCH NUMBER,CALC */
  --colornumero: #ffffff;
  /* BACKGROUND PANEL NUMBERS */
  --background-color4: #252d44;
  /* BACKGROUND NUMBER BUTTON */
  --background-color5: #eae3db;
  /* BACKGROUND RESET BUTTON */
  --background-color6: #647299;

  /* SECONDARY */
  /* BACKGROUND COLOR */
  --background-color7: #e6e6e6;
  /* BACKGROUND COLOR EQUAL, SWITCH BUTTON */
  --background-color8: #c85401;
  /* BACKGROUND COLOR NUMBER */
  --background-color9: #eeeeee;
  /* COLOR TEXT RESET,NUMBER,SWITCH NUMBER,CALC */
  --color-numero2: #35352b;
  /* BACKGROUND PANEL NUMBERS */
  --background-color10: #d3cdcd;
  /* BACKGROUND NUMBER BUTTON */
  --background-color11: hsl(48, 9%, 89%);
  /* BACKGROUND RESET BUTTON */
  --background-color12: #388187;

  /* THIRTIARY */
  /* BACKGROUND COLOR */
  --background-color13: #17062a;
  /* BACKGROUND COLOR EQUAL, SWITCH BUTTON */
  --background-color14: #00dfcf;
  /* BACKGROUND COLOR NUMBER */
  --background-color15: #1e0836;
  /* COLOR TEXT RESET,NUMBER,SWITCH NUMBER,CALC */
  --colornumer3: #f6da44;
  /* BACKGROUND PANEL NUMBERS */
  --background-color16: #1e0934;
  /* BACKGROUND NUMBER BUTTON */
  --background-color17: #331d4d;
  /* BACKGROUND RESET BUTTON */
  --background-color18: #53087d;
}
body,
button,
input {
  font-family: "Spartan", sans-serif;
  background-color: var(--background-color1);
}
.calculadora {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  grid-gap: 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "calculadora__header calculadora__header calculadora__header calculadora__header"
    "calculadora__screen calculadora__screen calculadora__screen calculadora__screen"
    "calculadora__panel calculadora__panel calculadora__panel calculadora__panel";
}

.calculadora__header {
  grid-area: calculadora__header;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.calculadora__header--heading {
  color: var(--colornumero);
}
.calculadora__header__mainswitch {
  display: flex;
  align-items: flex-end;
  gap: 30px;
}
.calculadora__mainswitch--paragraph {
  color: var(--colornumero);
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 5px;
}
.calculadora__switch {
  display: flex;
  flex-direction: column;
}
.calculadora__switch--level {
  display: flex;
  justify-content: space-evenly;
  gap: 12px;
}
.calculadora__switch--level--paragraph {
  color: var(--colornumero);
}
.calculadora__switch--buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  background-color: #182034;
  padding: 8px;
  border-radius: 32px;
  position: relative;
}
.toggleRadio {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  display: flex;
    justify-content: center;
    align-items: center;
}
.toggleRadio input {
  display: none;
  cursor: pointer;
}
.check{
  width: calc(100% - 1px);
  height: calc(100% - 1px);
  background-color: hsl(6, 63%, 50%);
  border-radius: 50%;
  display: inline-block;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.toggleRadio input:checked + .check {
    opacity: 1;
    display: inline-block;
}
/* .calculadora__switch--button {
  background-color: var(--background-color2);
  width: 20px;
  height: 20px;
  border-radius: 32px;
} */
.calculadora__screen {
  grid-area: calculadora__screen;
}
.calculadora__panel {
  grid-area: calculadora__panel;
}
.calculadora__screen {
  width: 100%;
  height: 100px;
  background-color: transparent;
  border-radius: 10px;
}
#calculadora__display {
  width: 100%;
  height: 100px;
  border-radius: 10px;
  border: none;
  background-color: var(--background-color4);
  color: var(--colornumero);
  font-size: 48px;
  padding: 0 32px;
  text-align: right;
}
#calculadora__display::placeholder{
  opacity:1;
}
.panels {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "panel__button--7 panel__button--8 panel__button--9 panel__button--del"
    "panel__button--4 panel__button--5 panel__button--6 panel__button--plus"
    "panel__button--1 panel__button--2 panel__button--3 panel__button--rest"
    "panel__button--dot panel__button--0 panel__button--divide panel__button--multiply"
    "panel__button--reset panel__button--reset panel__button--equal panel__button--equal";
  justify-items: center;
  align-content: space-between;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--background-color4);
  grid-gap: 25px;
  padding: 22px 19px;
  border-radius: 10px;
  width: 100%;
}
[class^="panel__button--"] {
  border: none;
  background-color: var(--background-color5);
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 0 #b1a5a2;
  cursor: pointer;
  width: 103px;
  height: 65px;
  transition:0.2s;
}
[class^="panel__button--"]:active{
  transform: translateY(5px);
}
.panel__button--1 {
  grid-area: panel__button--1;
}
.panel__button--2 {
  grid-area: panel__button--2;
}
.panel__button--3 {
  grid-area: panel__button--3;
}
.panel__button--4 {
  grid-area: panel__button--4;
}
.panel__button--5 {
  grid-area: panel__button--5;
}
.panel__button--6 {
  grid-area: panel__button--6;
}
.panel__button--7 {
  grid-area: panel__button--7;
}
.panel__button--8 {
  grid-area: panel__button--8;
}
.panel__button--9 {
  grid-area: panel__button--9;
}
.panel__button--0 {
  grid-area: panel__button--0;
}
.panel__button--reset {
  grid-area: panel__button--reset;
  width: 233px;
  height: 66px;
  font-size: 15px;
  background-color: var(--background-color6);
  color: var(--colornumero);
  box-shadow: 0 8px 0 #414e71;
}
.panel__button--equal {
  width: 233px;
  height: 66px;
  grid-area: panel__button--equal;
  font-size: 15px;
  color: var(--colornumero);
  background-color: var(--background-color2);
  box-shadow: 0 8px 0 #932316;
}
.panel__button--del {
  grid-area: panel__button--del;
  font-size: 15px;
  background-color: var(--background-color6);
  color: var(--colornumero);
  box-shadow: 0 8px 0 #414e71;
}
.panel__button--plus {
  grid-area: panel__button--plus;
}
.panel__button--rest {
  grid-area: panel__button--rest;
}
.panel__button--multiply {
  grid-area: panel__button--multiply;
}
.panel__button--divide {
  grid-area: panel__button--divide;
}
.panel__button--dot {
  grid-area: panel__button--dot;
}

@media screen and (max-width: 1366px) {
  .calculadora {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    margin: 100px auto;
  }
}
@media screen and (max-width: 1280px) {
  .calculadora {
    width: 45%;
  }
}
@media screen and (max-width: 1140px) {
  .calculadora {
    width: 50%;
  }
}
@media screen and (max-width: 1024px) {
  .calculadora {
    width: 55%;
  }
}
@media screen and (max-width: 940px) {
  .calculadora {
    width: 60%;
  }
}
@media screen and (max-width: 850px) {
  .calculadora {
    width: 66%;
  }
}
@media screen and (max-width: 768px) {
  .calculadora {
    width: 50%;
  }
  .panels {
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    justify-items: center;
    grid-gap: 0;
    column-gap: 5px;
    row-gap: 20px;
  }
  [class^="panel__button--"] {
    width: 62px;
    height: 65px;
  }
  .panel__button--reset {
    grid-area: panel__button--reset;
    width: 135px;
    height: 65px;
  }
  .panel__button--equal {
    width: 135px;
    height: 65px;
  }
}
@media screen and (max-width: 650px) {
  .calculadora {
    width: 60%;
  }
}
@media screen and (max-width: 540px) {
  .calculadora {
    width: 70%;
  }
}
@media screen and (max-width: 425px) {
  .calculadora {
    width: 80%;
  }
  #calculadora__display {
    font-size: 30px;
}
}
@media screen and (max-width: 375px) {
  .calculadora {
    width: 90%;
  }
}
@media screen and (max-width: 374px) {
  .calculadora {
    width: 90%;
  }
  [class^="panel__button--"] {
    width: 42px;
    height: 45px;
    font-size: 12px;
  }
  .panel__button--reset {
    grid-area: panel__button--reset;
    width: 98px;
    height: 45px;
    font-size: 12px;
  }
  .panel__button--equal {
    width: 98px;
    height: 45px;
    font-size: 12px;
  }
  .calculadora__header__mainswitch {
    gap: 10px;
  }
  /* .calculadora__switch--button {
    width: 10px;
    height: 10px;
} */
  .calculadora__switch--level--paragraph {
    font-size: 12px;
  }
  .calculadora__mainswitch--paragraph {
    font-size: 12px;
  }
  .calculadora__header--heading {
    font-size: 26px;
  }
}
